#container{
	display:flex;
}
#board{
	background-color: #ffc53d;
	width:1000px;
	height:1000px;
	display:flex;
	flex-wrap:wrap;
	position:relative;
	flex-shrink:0;
}
.cell{
	width:4%;
	box-sizing:border-box;
	height:4%;
	border:solid 1px grey;
}
.piece{
	width:4%;
	height:4%;
	position:absolute;
	border-radius:50%;
	background-color:black;
	transform:translate(-50%,-50%);
}
#right{
	flex-grow:1;
	text-align:center;
}
#player{
	color:#a0d911;
	font-size: 30px;
}
.opacity{
	opacity: 0.8;
}
#reset{
	font-size:16px;
	margin-top:10px;
}